:root {
    /** Color **/
    --primary: #FE724C;
    --white: #FFFFFF;
    --text: #000000;
    --text-secondary: #9EA1B1;
    --separator: #D4D6E0;
    --bg: #2b2b2d;
    --header: #111111;
    --black: #000;
    --hr-header: #505050;

    /** Font-size **/
    --xs: 12px;
    --sm: 14px;
    --base: 16px;
    --lg: 18px;
    --xl: 20px;

    // Gap
    --gap-xs: 12px;
    --gap-sm: 14px;
    --gap-base: 16px;
    --gap-lg: 18px;
    --gap-xl: 20px;
}