.component {
    color: var(var(--text-secondary));
    border: 1px solid var(--separator);
    border-radius: 10px;
    outline: none;
    padding: 0 15px;
}

.normal {
    width: 250px;
    height: 50px;
}